@font-face {
	font-family: 'OTEnjoystoriesBA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
	url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
	url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

:root {
  --main-color: #5B2386;
  --main-font-color: #fff;
}

#root {
  font-family: GmarketSansMedium;
  color: var(--main-font-color);
  background-color: var(--main-color);
  text-align: center;
  padding: 100px 0;
}

/* header 스타일 시작 */
header {
  margin-bottom: 100px;
}

header .title {
  max-width: 564px;
  min-height: 224px;
  margin: auto;

  background: url("../img/clock.png")  center/224px no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

header .title img {
  width: 100%;
  display: block;
  margin: auto;
}

header .quote {
  font-family: OTEnjoystoriesBA;
  font-size: 36px;
  font-weight: 700;
  color: #F5DF4D;
  margin: 66px 0 78px;
}

header .explain {
  /* position, max-width, margin: 따옴표 가상요소로 넣기 위해서 */
  /* position: relative;
  max-width: 500px; */
  margin: auto;
  font-size: 18px;
  line-height: 30px;
}

header .explain strong {
  font-size: 24px;
  font-weight: bold;
}

/* 따옴표 */
/* 방벙1) 하나의 이미지로 bg-img로 */
header .explain {
  background: url("../img/quotes.png") center no-repeat;
}

/* 방벙2) 2개의 이미지로 하나씩 가상요소로 적용하기 */

/* header .explain::before,
header .explain::after {
  position: absolute;
  content: '';
  top: 40%;
  width: 37px;
  height: 32px;
  background-repeat: no-repeat;
}
header .explain::before {
  background-image: url("../img/txt-left.png");
  left: 0;

}
header .explain::after {
  background-image: url("../img/txt-right.png");
  right: 0;
}  */

/* header 스타일 끝 */

/* main 스타일 시작 */
main {
  margin: 100px auto 130px;
}

main .inputs p {
  font-size: 24px;
  line-height: 24px;
}

main .inputs input {
  max-width: 224px;
  font-size: 24px;
  align-items: center;
  margin: 0 17px;
  padding: 15px 40px;
  border: none;
  border-radius: 7px;
}

main .inputs .input-expert {
  margin-bottom: 27px;
}

main .inputs .btn-run {
  margin-top: 115px;
}

main .result {
  margin-top: 130px;
}

main .result .result-expert,
main .result .result-hour {
  font-size: 24px;
  line-height: 72px;
}
main .result .result-expert {
  margin-bottom: 17px;
}
main .result strong {
  font-family: GmarketSansBold;
  font-size: 72px;
  margin: 0 17px;
  vertical-align: middle;
}

main .result .result-btns {
  margin-top: 150px 
}
.result .result-btns .btn-share {
  background: #fff;;
  margin-left: 20px;
}

/* main 스타일 끝 */

/* footer 스타일 시작 */
footer {
  font-family: Noto Sans KR;
  margin-top: 130px;
  font-size: 12px;
  line-height: 17px;
}

footer img {
  width: 125px;
  margin: 0 auto 20px;
  vertical-align: top;
}

/* footer 스타일 끝 */

/* modal 스타일 시작 */
#modal {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: OTEnjoystoriesBA;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}
#modal .modal-inner {
  padding: 60px 100px ;
  color: var(--main-color);
  background-color: #fff;
  border-radius: 30px;
  box-shadow: inset 0 0 10px #eee;
  
}
#modal .modal-inner h2 {
  font-size: 96px;
  margin-bottom: 4px;
}
#modal .modal-inner h3 {
  font-size: 36px;
}
#modal .modal-inner img {
  max-width: 433px;
  margin: 30px auto;
}
/* modal 스타일 끝 */