/* header 스타일 시작 */
header {
  margin-bottom: 100px;
}

header .title {
  max-width: 564px;
  min-height: 224px;
  margin: auto;

  background: url("../../img/clock.png")  center/224px no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

header .title img {
  width: 100%;
  display: block;
  margin: auto;
}

header .quote {
  font-family: OTEnjoystoriesBA;
  font-size: 36px;
  font-weight: 700;
  color: #F5DF4D;
  margin: 66px 0 78px;
}

header .explain {
  /* position, max-width, margin: 따옴표 가상요소로 넣기 위해서 */
  /* position: relative;
  max-width: 500px; */
  margin: auto;
  font-size: 18px;
  line-height: 30px;
}

header .explain strong {
  font-size: 24px;
  font-weight: bold;
}

/* 따옴표 */
/* 방벙1) 하나의 이미지로 bg-img로 */
header .explain {
  background: url("../../img/quotes.png") center no-repeat;
}

/* 방벙2) 2개의 이미지로 하나씩 가상요소로 적용하기 */

/* header .explain::before,
header .explain::after {
  position: absolute;
  content: '';
  top: 40%;
  width: 37px;
  height: 32px;
  background-repeat: no-repeat;
}
header .explain::before {
  background-image: url("../../img/txt-left.png");
  left: 0;

}
header .explain::after {
  background-image: url("../../img/txt-right.png");
  right: 0;
}  */

/* header 스타일 끝 */